<div class ="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>User Info</h2>
      <%= image_tag @user.get_profile_image(100,100) %>
      
      
      <!--投稿機能-->
       <%= form_with model: @book do |f| %>
        <div class="form-group">
          <h4>Title</h4>
            <%= f.text_field :Title %>
        </div>
        <div class="form-group">
          <h4>Opinion</h4>
            <%= f.text_area :Opinion %>
        </div>
        <div class="form-group">
          <%= f.submit 'Create Book' %>
        </div>
        <% end %>
    </div>
    <div class="col-lg-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
          <% @books.each do |book| %>
          <tr><%= book.title %></tr>
          <tr><%= book.opinion %></tr>
          <% end %>
        </thead>
      </table>
    </div>
  </div>
</div>